<%= form_with(model: organizer, local: true) do |form| %>
  <% if organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organizer.errors.count, "error") %> prohibited this organizer from being saved:</h2>

      <ul>
      <% organizer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organizer_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :organizer_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
