<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topic %>
    <%= form.text_field :topic, id: :session_topic %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :session_description %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.select :event_id, options_for_select(Event.all.map{|s|[s.name, s.id]}, @session.event_id) %>
  </div>

  <div class="field">
    <%= form.label :speaker_id %>
    <%= form.select :speaker_id, options_for_select(Speaker.all.map{|s|[s.last_name, s.id]}, @session.speaker_id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
